<mat-form-field class="example-form-field">
  <input matInput (keyup)="applyFilter($event)" placeholder="Szukaj..." #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let i = index">
        {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> Marka</th>
      <td mat-cell *matCellDef="let car"> {{car.company}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model</th>
      <td mat-cell *matCellDef="let car"> {{car.model}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="numberOfDoors">
      <th mat-header-cell *matHeaderCellDef> Liczba drzwi</th>
      <td mat-cell *matCellDef="let car"> {{car.numberOfDoors}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Akcje</th>
      <td mat-cell *matCellDef="let car">
        <button mat-raised-button color="primary" (click)="editCar(car.id)">Edytuj</button>
        <button mat-raised-button color="error" style="margin-left: 0.5rem; display: inline-block"
                (click)="removeCar(car.id)">Usun
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
