<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/cars-list">Lista aut</a>
    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarLeftAlignExample"
      mdbCollapse
      #leftAligned="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Dodaj nowe auto</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
      </ul>
      <!-- Left links -->
    </div>
  </div>
</nav>
