/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';
@import 'variables.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.mark {
  $background: lightgey;

  &.nought {
    $border-size: ($square-size / 10);
    $padding: ($square-size / 15);
    $size: ($square-size - ($padding * 2) - ($border-size * 2));
    $pos: ((($square-size - ($size + ($border-size * 2))) / 2) - 1);

    position: absolute;
    top: $pos;
    left: $pos;
    border: $border-size solid;
    border-radius: $size;
    height: $size;
    width: $size;
  }

  &.cross {
    &::after {
      $size: $square-size * 1.8;
      $adjustment: ($square-size / 50);

      position: absolute;
      pointer-events: none;
      content: "\d7";
      font-size: $size;
      font-weight: bold;
      top: -(($size / 3) + 1);
      left: -(($square-size / 10) - $adjustment - 10);
    }
  }
}

.winner_class {
  color: green;
  border-color: green;
}
